*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: radial-gradient(rgb(33, 82, 173), rgb(0, 0, 0));
   
}
.grid-container{
   background: white; 

}
h1,h3,a,li,#lyrics,header,p,label{
   font-family: "Raleway", sans-serif;
   font-weight: bold;
  
}
header{
   background: radial-gradient(rgb(33, 82, 173), rgb(0, 0, 0));
   width: 100%;
   color: white;
}

a {
   font-size: 20px;
   color:white;  
}
a:hover{
   color: white;
   font-size:25px;
   font-weight: bolder;
}

.button{
   background-color: rgb(139,2,87);
   border-radius: 5px;
   
}

ul{
   list-style: none; 
}
li{
   margin:5px;
}

li:hover{
  cursor: pointer;
  background-color: gray;
  color: white;
}

p,label{
   font-size: 20px;
}

.footer{
   color:white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
   position: sticky;
}

